		<div class="footer">
			<div class="container">
				<div class="footer__heading">Treasure Dash</div>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/play">Play</a></li>
				</ul>
				<div class="footer__copyright">
					&copy; <script type="text/JavaScript">document.write(new Date().getFullYear());</script> Treasure Dash
				</div>
			</div>
		</div>
	</main>
	<script src="../scripts/third-party/jquery-3.6.0.min.js"></script>
	<script src="../scripts/third-party/jquery.flexslider-min.js" async defer></script>
	<script src="../scripts/modals.js" async defer></script>
	<% if (page_name==='home' ) { %>
		<script src="../scripts/home.js" async defer></script>
	<% } %>
	<% if (page_name==='play' ) { %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../scripts/find-room.js" async defer></script>
	<% } %>
	<% if (page_name==='game' ) { %>
		<script src="/socket.io/socket.io.js"></script>
		<script src="../scripts/game.js" async defer></script>
	<% } %>
	</body>
</html>