<div class="modal modal--small js-modal" data-modal-id="items-modal">
    <div class="items modal__inner">
        <button class="modal__close-btn js-close-modal-btn" title="Close modal">
            <%- include( '../../static/images/cross.svg' ) %>
        </button>
        <h2 class="modal__heading js-modal-content">Items</h2>
        <button class="items__btn js-swap-positions">Swap positions <span>x1</span></button>
        <button class="items__btn js-teleport">Teleport <span>x1</span></button>
    </div>
</div>