<div class="modal modal--small js-modal js-player-name-modal js-no-close" data-modal-id="player-name-modal">
    <div class="modal__inner">
        <h2 class="modal__heading js-modal-content">What should we call you?</h2>
        <form action="#" class="single-row-form js-enter-name-form">
            <p>Please enter your name:</p>
            <input class="single-row-form__input js-name-input" type="text" maxlength="10" required>
            <input type="submit" class="button" value="Join">
        </form>
    </div>
</div>