<div class="modal modal--rules js-modal js-rules-modal" data-modal-id="rules-modal">
    <div class="modal__inner js-modal-content">
        <button class="rules__btn rules__btn--close js-close-modal-btn">Close</button>
        <h2 class="modal__heading">Rules</h2>
        <p>Treasure Dash is a turn-based game in which the first player to dig up the treasure wins. Once you have found an opponent, you must both pick a starting position. One of you will then be picked at random to go first. When it's your turn, you can choose to either roll or dig. Each time you move, you will find out whether you are close to the treasure. If you are within 2 squares of the treasure in any direction then you will see "warm". You won't find out if you're on top of the treasure unless you dig.</p>
    </div>
</div>
<div class="modal__overlay js-modal-overlay"></div>