<div class="rules">
	<div class="flexslider">
		<ul class="slides">
			<li>
				<div class="rules__text js-rules-text">
					<h2 class="rules__heading">Starting position</h2>
					<p>When the grid is pulsing, select a starting position. Once both players have selected a starting position, a
						player will be chosen at random to go first.</p>
				</div>
				<div class="rules__image">
					<img src="/images/rules-screenshots/starting-position.png"
						alt="Screenshot of the grid waiting for a player to select a starting position">
				</div>
			</li>
			<li>
				<div class="rules__text js-rules-text">
					<h2 class="rules__heading">Roll or dig</h2>
					<p>When it’s your turn, you can choose to either roll or dig. If you choose roll, the die will roll between 1 and
						6. The cells you can move to will then be highlighted. Players can only move in a straight line. Click on the
						cell you want to move to.</p>
				</div>
				<div class="rules__image">
					<img class="rules__image" src="/images/rules-screenshots/roll-or-dig.png"
						alt="Screenshot of player choosing to roll or dig">
				</div>
			</li>
			<li>
				<div class="rules__text js-rules-text">
					<h2 class="rules__heading">Warm or cold</h2>
					<p>Each time you move you'll see whether you're "warm" or "cold". “Warm” will only show if you are within 2 cells
						of the treasure in any direction, including if you are on top of the treasure; the only way to find out is to
						dig!</p>
				</div>
				<div class="rules__image">
					<img class="rules__image" src="/images/rules-screenshots/warm-or-cold.png"
						alt="Screenshot of player find out their position is cold">
				</div>
			</li>
			<li>
				<div class="rules__text js-rules-text">
					<h2 class="rules__heading">Special items</h2>
					<p>Special items are placed in random positions on the grid and are marked by a “?”. When on top of a special
						item, you can dig to get the item. These items can allow you to see which row or column the treasure is in, or
						give you an extra turn.</p>
				</div>
				<div class="rules__image">
					<img class="rules__image" src="/images/rules-screenshots/treasure-row.png"
						alt="Screenshot of player finding out the treasure row">
				</div>
			</li>
		</ul>
	</div>
</div>