<div class="logo-container">
    <a href="<%= siteUrl %>">
        <img src="/images/treasure-dash-logo.svg" alt="Treasure Dash logo" class="logo-container__logo">
    </a>
    <h1 class="heading-primary heading-primary--logo">Treasure Dash</h1>
</div>