<%- include( 'partials/header.ejs' ) %>

<div class="container">
    <div class="banner">
        <h1 class="banner__heading">About</h1>
    </div>
    <div class="section">
        <h2 class="heading-secondary">What is Treasure Dash?</h2>
        <p class="medium-text">Treasure Dash is a simple, free to play browser-based web game. No downloads or sign up are required to play and the rules are simple, which means you can get started playing with your friends or strangers straight away.</p>
    </div>
    <div class="section">
        <h2 class="heading-secondary">How was it made?</h2>
        <p class="medium-text">Treasure Dash uses WebSockets with the help of Socket.IO to enable bi-directional communication between clients and the server. The web server is running on NodeJS using the Express web application framework. The source code can be found on <a href="https://github.com/dlh89/treasure-dash">GitHub</a>.</p>
        <p class="medium-text">The project was developed by me, David Hide. I am a full-stack web developer based in the UK. If you are interested in learning more about me or this project, you can find more information on my personal website, <a href="https://davidhide.com">davidhide.com</a>.</p>
    </div>
</div>

<%- include( 'partials/footer.ejs' ) %>