<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Treasure Dash</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Lacquer|Pirata+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div>
        <h1 class="heading-primary">Treasure Dash</h1>
      </div>
      <div class="block js-enter-name">
        <form action="#" class="js-enter-name-form">
          <p>Please enter your name:</p>
          <input class="modal__input js-name-input" type="text" required>
          <input type="submit" class="button" value="Find a game">
        </form>
      </div>
      <div class="block block--hidden js-rooms-list-block">
        <h2>Rooms</h2>
        <div class="room-list js-rooms-list">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Players</th>
              </tr>
            </thead>
            <tbody>
              <% rooms.forEach(function(room) { %>
              <tr>
                <td><a href="/game/<%= room.name.toLowerCase() %>"><%= room.name %></a></td>
                <td><%= room.users.length %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <button class="js-open-modal-btn js-create-room button" data-modal-class=".js-create-room-modal">Create room</button>
      </div>
    </div>
    <div class="modal js-create-room-modal">
      <button class="rules__btn rules__btn--close js-close-modal-btn" data-modal-class=".js-create-room-modal">Close</button>
      <h2>Create Room</h2>
      <form action="#" class="js-create-room-form">
        <p>Enter your room name:</p>
        <input class="modal__input js-room-name-input" name="room-name" type="text" required>
        <input type="submit" class="button" value="Create">
        <div class='notice notice--error js-error-notice' style="display: none"></div>
      </form>
    </div>
    <button class="rules__btn js-open-modal-btn" data-modal-class=".js-rules-modal">Rules</button>
    <div class="modal modal--rules js-rules-modal">
      <button class="rules__btn rules__btn--close js-close-modal-btn" data-modal-class=".js-rules-modal">Close</button>
      <h2>Rules</h2>
      <p>Treasure Dash is a turn-based game in which the first player to dig up the treasure wins. Once you have found an opponent, you must both pick a starting position. One of you will then be picked at random to go first. When it's your turn, you can choose to either roll or dig. Each time you move, you will find out whether you are close to the treasure. If you are within 2 squares of the treasure in any direction then you will see "Getting warm". You won't find out if you're on top of the treasure unless you dig.</p>
    </div>
    <div class="modal__overlay modal__overlay--hidden js-modal-overlay"></div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts/find-room.js" async defer></script>
    <script src="../scripts/handle-modals.js" async defer></script>
  </body>
</html>