<%- include( 'partials/header.ejs' ) %>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container clearfix">
      <div class="logo-container">
        <img src="/images/treasure-dash-logo.svg" alt="Treasure Dash logo" class="logo-container__logo">
        <h1 class="heading-primary heading-primary--logo">Treasure Dash</h1>
      </div>
      <div class="two-columns">
        <div class="two-columns__main">
          <div class="action-box clearfix">
            <div class="action-box__msg-box">
              <p class="js-msg-box-text"></p>
            </div>
            <div class="action-box__msg-box action-box__msg-box--buttons">
              <fieldset class="turn-choice" disabled="true">
                <button class="turn-choice__btn js-choose-roll">Roll</button>
                <button class="turn-choice__btn js-choose-dig">Dig</button>
              </fieldset>
            </div>
            <div class="action-box__msg-box action-box__msg-box--roll">
              <p class="js-action-box-text"></p>
            </div>
          </div>
          <div class="clearfix">
            <div class="grid">
              <div class="grid__cell" data-row="1" data-col="1"></div>
              <div class="grid__cell" data-row="1" data-col="2"></div>
              <div class="grid__cell" data-row="1" data-col="3"></div>
              <div class="grid__cell" data-row="1" data-col="4"></div>
              <div class="grid__cell" data-row="1" data-col="5"></div>
              <div class="grid__cell" data-row="1" data-col="6"></div>
              <div class="grid__cell" data-row="1" data-col="7"></div>
              <div class="grid__cell" data-row="1" data-col="8"></div>
              <div class="grid__cell" data-row="1" data-col="9"></div>
              <div class="grid__cell" data-row="1" data-col="10"></div>
              <div class="grid__cell" data-row="2" data-col="1"></div>
              <div class="grid__cell" data-row="2" data-col="2"></div>
              <div class="grid__cell" data-row="2" data-col="3"></div>
              <div class="grid__cell" data-row="2" data-col="4"></div>
              <div class="grid__cell" data-row="2" data-col="5"></div>
              <div class="grid__cell" data-row="2" data-col="6"></div>
              <div class="grid__cell" data-row="2" data-col="7"></div>
              <div class="grid__cell" data-row="2" data-col="8"></div>
              <div class="grid__cell" data-row="2" data-col="9"></div>
              <div class="grid__cell" data-row="2" data-col="10"></div>
              <div class="grid__cell" data-row="3" data-col="1"></div>
              <div class="grid__cell" data-row="3" data-col="2"></div>
              <div class="grid__cell" data-row="3" data-col="3"></div>
              <div class="grid__cell" data-row="3" data-col="4"></div>
              <div class="grid__cell" data-row="3" data-col="5"></div>
              <div class="grid__cell" data-row="3" data-col="6"></div>
              <div class="grid__cell" data-row="3" data-col="7"></div>
              <div class="grid__cell" data-row="3" data-col="8"></div>
              <div class="grid__cell" data-row="3" data-col="9"></div>
              <div class="grid__cell" data-row="3" data-col="10"></div>
              <div class="grid__cell" data-row="4" data-col="1"></div>
              <div class="grid__cell" data-row="4" data-col="2"></div>
              <div class="grid__cell" data-row="4" data-col="3"></div>
              <div class="grid__cell" data-row="4" data-col="4"></div>
              <div class="grid__cell" data-row="4" data-col="5"></div>
              <div class="grid__cell" data-row="4" data-col="6"></div>
              <div class="grid__cell" data-row="4" data-col="7"></div>
              <div class="grid__cell" data-row="4" data-col="8"></div>
              <div class="grid__cell" data-row="4" data-col="9"></div>
              <div class="grid__cell" data-row="4" data-col="10"></div>
              <div class="grid__cell" data-row="5" data-col="1"></div>
              <div class="grid__cell" data-row="5" data-col="2"></div>
              <div class="grid__cell" data-row="5" data-col="3"></div>
              <div class="grid__cell" data-row="5" data-col="4"></div>
              <div class="grid__cell" data-row="5" data-col="5"></div>
              <div class="grid__cell" data-row="5" data-col="6"></div>
              <div class="grid__cell" data-row="5" data-col="7"></div>
              <div class="grid__cell" data-row="5" data-col="8"></div>
              <div class="grid__cell" data-row="5" data-col="9"></div>
              <div class="grid__cell" data-row="5" data-col="10"></div>
              <div class="grid__cell" data-row="6" data-col="1"></div>
              <div class="grid__cell" data-row="6" data-col="2"></div>
              <div class="grid__cell" data-row="6" data-col="3"></div>
              <div class="grid__cell" data-row="6" data-col="4"></div>
              <div class="grid__cell" data-row="6" data-col="5"></div>
              <div class="grid__cell" data-row="6" data-col="6"></div>
              <div class="grid__cell" data-row="6" data-col="7"></div>
              <div class="grid__cell" data-row="6" data-col="8"></div>
              <div class="grid__cell" data-row="6" data-col="9"></div>
              <div class="grid__cell" data-row="6" data-col="10"></div>
              <div class="grid__cell" data-row="7" data-col="1"></div>
              <div class="grid__cell" data-row="7" data-col="2"></div>
              <div class="grid__cell" data-row="7" data-col="3"></div>
              <div class="grid__cell" data-row="7" data-col="4"></div>
              <div class="grid__cell" data-row="7" data-col="5"></div>
              <div class="grid__cell" data-row="7" data-col="6"></div>
              <div class="grid__cell" data-row="7" data-col="7"></div>
              <div class="grid__cell" data-row="7" data-col="8"></div>
              <div class="grid__cell" data-row="7" data-col="9"></div>
              <div class="grid__cell" data-row="7" data-col="10"></div>
              <div class="grid__cell" data-row="8" data-col="1"></div>
              <div class="grid__cell" data-row="8" data-col="2"></div>
              <div class="grid__cell" data-row="8" data-col="3"></div>
              <div class="grid__cell" data-row="8" data-col="4"></div>
              <div class="grid__cell" data-row="8" data-col="5"></div>
              <div class="grid__cell" data-row="8" data-col="6"></div>
              <div class="grid__cell" data-row="8" data-col="7"></div>
              <div class="grid__cell" data-row="8" data-col="8"></div>
              <div class="grid__cell" data-row="8" data-col="9"></div>
              <div class="grid__cell" data-row="8" data-col="10"></div>
              <div class="grid__cell" data-row="9" data-col="1"></div>
              <div class="grid__cell" data-row="9" data-col="2"></div>
              <div class="grid__cell" data-row="9" data-col="3"></div>
              <div class="grid__cell" data-row="9" data-col="4"></div>
              <div class="grid__cell" data-row="9" data-col="5"></div>
              <div class="grid__cell" data-row="9" data-col="6"></div>
              <div class="grid__cell" data-row="9" data-col="7"></div>
              <div class="grid__cell" data-row="9" data-col="8"></div>
              <div class="grid__cell" data-row="9" data-col="9"></div>
              <div class="grid__cell" data-row="9" data-col="10"></div>
              <div class="grid__cell" data-row="10" data-col="1"></div>
              <div class="grid__cell" data-row="10" data-col="2"></div>
              <div class="grid__cell" data-row="10" data-col="3"></div>
              <div class="grid__cell" data-row="10" data-col="4"></div>
              <div class="grid__cell" data-row="10" data-col="5"></div>
              <div class="grid__cell" data-row="10" data-col="6"></div>
              <div class="grid__cell" data-row="10" data-col="7"></div>
              <div class="grid__cell" data-row="10" data-col="8"></div>
              <div class="grid__cell" data-row="10" data-col="9"></div>
              <div class="grid__cell" data-row="10" data-col="10"></div>
              <div class="splash-msg">
                <p class="splash-msg__text"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="two-columns__sidebar">
        <div class="scoreboard">
          <div class="scoreboard__player" data-player-id="">
            <div class="scoreboard__name js-player-name"></div>
            <div class="scoreboard__score-container">
              <span class="scoreboard__score js-score-player" data-player-score="0">0</span>
            </div>
          </div>
          <div class="scoreboard__player scoreboard__player--opponent" data-player-id="">
            <div class="scoreboard__name js-opponent-name"></div>
            <div class="scoreboard__score-container">
              <span class="scoreboard__score js-score-opponent" data-player-score="0">0</span>
            </div>
          </div>
        </div>
        <div class="sidebar">
          <h3 class="sidebar__heading">Game log</h3>
          <div class="sidebar__text"></div>
          <div class="sidebar__text--history"></div>
        </div>
      </div>
    </div>
    <button class="rules__btn js-open-modal-btn" data-modal-class=".js-rules-modal">Rules</button>
    <div class="modal js-rules-modal">
      <div class="modal__inner">
        <button class="rules__btn rules__btn--close js-close-modal-btn" data-modal-class=".js-rules-modal">Close</button>
        <h2 class="modal__heading">Rules</h2>
        <p>Treasure Dash is a turn-based game in which the first player to dig up the treasure wins. Once you have found an opponent, you must both pick a starting position. One of you will then be picked at random to go first. When it's your turn, you can choose to either roll or dig. Each time you move, you will find out whether you are close to the treasure. If you are within 2 squares of the treasure in any direction then you will see "Getting warm". You won't find out if you're on top of the treasure unless you dig.</p>
      </div>
    </div>
    <div class="js-room-name" data-room-name="<%= room_name %>" hidden></div>
    <div class="modal__overlay modal__overlay--hidden js-modal-overlay"></div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous">
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../scripts/game.js" async defer></script>
    <script src="../scripts/handle-modals.js" async defer></script>
  </body>
  <%- include( 'partials/footer.ejs' ) %>