<%- include( 'partials/header.ejs' ) %>

<div class="container">
    <h1>Treasure Dash</h1>
    <%- include( 'partials/rules-block.ejs' ) %>
</div>

<script src="../scripts/home.js" async defer></script>
<%- include( 'partials/footer.ejs' ) %>