<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Treasure Dash</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/styles/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Pirata+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div>
        <h1>Treasure Dash</h1>
      </div>
      <div class="clearfix">
        <div class="grid">
          <div class="info">
            <p class="info__text"></p>
          </div>
          <div class="grid__cell" data-row="1" data-col="1"></div>
          <div class="grid__cell" data-row="1" data-col="2"></div>
          <div class="grid__cell" data-row="1" data-col="3"></div>
          <div class="grid__cell" data-row="1" data-col="4"></div>
          <div class="grid__cell" data-row="1" data-col="5"></div>
          <div class="grid__cell" data-row="1" data-col="6"></div>
          <div class="grid__cell" data-row="1" data-col="7"></div>
          <div class="grid__cell" data-row="1" data-col="8"></div>
          <div class="grid__cell" data-row="1" data-col="9"></div>
          <div class="grid__cell" data-row="1" data-col="10"></div>
          <div class="grid__cell" data-row="2" data-col="1"></div>
          <div class="grid__cell" data-row="2" data-col="2"></div>
          <div class="grid__cell" data-row="2" data-col="3"></div>
          <div class="grid__cell" data-row="2" data-col="4"></div>
          <div class="grid__cell" data-row="2" data-col="5"></div>
          <div class="grid__cell" data-row="2" data-col="6"></div>
          <div class="grid__cell" data-row="2" data-col="7"></div>
          <div class="grid__cell" data-row="2" data-col="8"></div>
          <div class="grid__cell" data-row="2" data-col="9"></div>
          <div class="grid__cell" data-row="2" data-col="10"></div>
          <div class="grid__cell" data-row="3" data-col="1"></div>
          <div class="grid__cell" data-row="3" data-col="2"></div>
          <div class="grid__cell" data-row="3" data-col="3"></div>
          <div class="grid__cell" data-row="3" data-col="4"></div>
          <div class="grid__cell" data-row="3" data-col="5"></div>
          <div class="grid__cell" data-row="3" data-col="6"></div>
          <div class="grid__cell" data-row="3" data-col="7"></div>
          <div class="grid__cell" data-row="3" data-col="8"></div>
          <div class="grid__cell" data-row="3" data-col="9"></div>
          <div class="grid__cell" data-row="3" data-col="10"></div>
          <div class="grid__cell" data-row="4" data-col="1"></div>
          <div class="grid__cell" data-row="4" data-col="2"></div>
          <div class="grid__cell" data-row="4" data-col="3"></div>
          <div class="grid__cell" data-row="4" data-col="4"></div>
          <div class="grid__cell" data-row="4" data-col="5"></div>
          <div class="grid__cell" data-row="4" data-col="6"></div>
          <div class="grid__cell" data-row="4" data-col="7"></div>
          <div class="grid__cell" data-row="4" data-col="8"></div>
          <div class="grid__cell" data-row="4" data-col="9"></div>
          <div class="grid__cell" data-row="4" data-col="10"></div>
          <div class="grid__cell" data-row="5" data-col="1"></div>
          <div class="grid__cell" data-row="5" data-col="2"></div>
          <div class="grid__cell" data-row="5" data-col="3"></div>
          <div class="grid__cell" data-row="5" data-col="4"></div>
          <div class="grid__cell" data-row="5" data-col="5"></div>
          <div class="grid__cell" data-row="5" data-col="6"></div>
          <div class="grid__cell" data-row="5" data-col="7"></div>
          <div class="grid__cell" data-row="5" data-col="8"></div>
          <div class="grid__cell" data-row="5" data-col="9"></div>
          <div class="grid__cell" data-row="5" data-col="10"></div>
          <div class="grid__cell" data-row="6" data-col="1"></div>
          <div class="grid__cell" data-row="6" data-col="2"></div>
          <div class="grid__cell" data-row="6" data-col="3"></div>
          <div class="grid__cell" data-row="6" data-col="4"></div>
          <div class="grid__cell" data-row="6" data-col="5"></div>
          <div class="grid__cell" data-row="6" data-col="6"></div>
          <div class="grid__cell" data-row="6" data-col="7"></div>
          <div class="grid__cell" data-row="6" data-col="8"></div>
          <div class="grid__cell" data-row="6" data-col="9"></div>
          <div class="grid__cell" data-row="6" data-col="10"></div>
          <div class="grid__cell" data-row="7" data-col="1"></div>
          <div class="grid__cell" data-row="7" data-col="2"></div>
          <div class="grid__cell" data-row="7" data-col="3"></div>
          <div class="grid__cell" data-row="7" data-col="4"></div>
          <div class="grid__cell" data-row="7" data-col="5"></div>
          <div class="grid__cell" data-row="7" data-col="6"></div>
          <div class="grid__cell" data-row="7" data-col="7"></div>
          <div class="grid__cell" data-row="7" data-col="8"></div>
          <div class="grid__cell" data-row="7" data-col="9"></div>
          <div class="grid__cell" data-row="7" data-col="10"></div>
          <div class="grid__cell" data-row="8" data-col="1"></div>
          <div class="grid__cell" data-row="8" data-col="2"></div>
          <div class="grid__cell" data-row="8" data-col="3"></div>
          <div class="grid__cell" data-row="8" data-col="4"></div>
          <div class="grid__cell" data-row="8" data-col="5"></div>
          <div class="grid__cell" data-row="8" data-col="6"></div>
          <div class="grid__cell" data-row="8" data-col="7"></div>
          <div class="grid__cell" data-row="8" data-col="8"></div>
          <div class="grid__cell" data-row="8" data-col="9"></div>
          <div class="grid__cell" data-row="8" data-col="10"></div>
          <div class="grid__cell" data-row="9" data-col="1"></div>
          <div class="grid__cell" data-row="9" data-col="2"></div>
          <div class="grid__cell" data-row="9" data-col="3"></div>
          <div class="grid__cell" data-row="9" data-col="4"></div>
          <div class="grid__cell" data-row="9" data-col="5"></div>
          <div class="grid__cell" data-row="9" data-col="6"></div>
          <div class="grid__cell" data-row="9" data-col="7"></div>
          <div class="grid__cell" data-row="9" data-col="8"></div>
          <div class="grid__cell" data-row="9" data-col="9"></div>
          <div class="grid__cell" data-row="9" data-col="10"></div>
          <div class="grid__cell" data-row="10" data-col="1"></div>
          <div class="grid__cell" data-row="10" data-col="2"></div>
          <div class="grid__cell" data-row="10" data-col="3"></div>
          <div class="grid__cell" data-row="10" data-col="4"></div>
          <div class="grid__cell" data-row="10" data-col="5"></div>
          <div class="grid__cell" data-row="10" data-col="6"></div>
          <div class="grid__cell" data-row="10" data-col="7"></div>
          <div class="grid__cell" data-row="10" data-col="8"></div>
          <div class="grid__cell" data-row="10" data-col="9"></div>
          <div class="grid__cell" data-row="10" data-col="10"></div>
        </div>
      </div>
    </div>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script src="static/scripts/main.js" async defer></script>
  </body>
</html>