@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

@keyframes pulseGreen {
  0% {
    border-color: #56ff00;
  }
  50% {
    border-color: #ddffcc;
  }
  100% {
    border-color: #56ff00;
  }
}
@keyframes pulseRed {
  0% {
    border-color: #FF0054;
  }
  50% {
    border-color: #330011;
  }
  100% {
    border-color: #FF0054;
  }
}
@keyframes pulseWhiteBackground {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: #ffffff;
  }
  100% {
    background-color: transparent;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  background: #002642;
}

body.lightpage {
  background-color: #fff;
  color: #071E22;
}

h2 {
  font-size: 2.8rem;
  font-weight: 600;
}

h3 {
  font-size: 2.2rem;
  font-weight: 300;
}

input[type=text] {
  font-family: "Poppins", sans-serif;
}

input:disabled {
  opacity: 0.5;
}

fieldset {
  padding: 0;
}

input {
  font-family: "Poppins", sans-serif;
}

strong {
  font-weight: 700;
}

@media (max-width: 37.5em) {
  h1 {
    margin: 10px 0;
  }
}
body {
  color: #e9e9e9;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
}

.heading-primary {
  font-family: "Pirata One", cursive;
  font-size: 5.2rem;
  line-height: 1.1;
  font-weight: 300;
}

.heading-primary--logo {
  margin-left: 79px;
}

.heading-secondary {
  font-family: "Pirata One", cursive;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 300;
  margin-bottom: 22px;
  color: #0e3c44;
}

.medium-text {
  font-size: 2rem;
  color: #145661;
  margin-bottom: 18px;
}

.section {
  margin-bottom: 37px;
}

.container {
  margin: auto;
  max-width: 96rem;
  position: relative;
}
@media (max-width: 75em) {
  .container {
    margin: 0 3.2rem;
    max-width: none;
  }
}
@media (max-width: 37.5em) {
  .container {
    margin: 0 2rem;
    max-width: none;
  }
}

.block {
  background-color: #071E22;
  padding: 30px 40px;
  margin-bottom: 20px;
}

.block--hidden {
  display: none;
}

@media (max-width: 56.25em) {
  .block {
    padding: 20px 30px;
  }
}
.grid {
  position: relative;
  float: left;
  width: 500px;
  box-sizing: content-box;
}

.grid__highlight {
  display: none;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1;
  animation-name: pulseWhiteBackground;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;
}

.grid__cell {
  position: relative;
  float: left;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  background: #ffbc00;
  background: linear-gradient(to bottom right, #fdf137, #ffbc00);
  border: 1px solid #c89b1c;
}

.turn-active .grid__cell:hover {
  transition: ease-out 0.5s;
  filter: brightness(0.75);
}

.grid__cell--current {
  border: 4px solid #56ff00;
}

.grid__cell--opponent-current {
  border: 4px solid #FF0054;
}

.grid__cell--active {
  animation-duration: 1.5s;
  animation-name: pulseGreen;
  animation-iteration-count: infinite;
}

.grid__cell--opponent-active {
  animation-duration: 1.5s;
  animation-name: pulseRed;
  animation-iteration-count: infinite;
}

.grid__cell--reachable {
  opacity: 0.8;
}

.grid__cell--dug {
  background: linear-gradient(to bottom right, #b98b0e, #6d5207);
}
.grid__cell--dug:hover {
  filter: brightness(1);
}

.grid__cell--treasure {
  background: linear-gradient(to bottom right, #ffff15, #fffdcf);
}
.grid__cell--treasure:hover {
  filter: brightness(1);
}

.grid__special-item {
  text-align: center;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #000000;
  pointer-events: none;
  font-weight: 600;
}

.grid__treasure-dimension {
  filter: brightness(1.2);
}

@media (max-width: 56.25em) {
  .grid {
    width: 100%;
    margin-bottom: 20px;
  }

  .grid__cell {
    width: calc((100vw - (3.2rem * 2)) / 10);
    height: calc((100vw - (3.2rem * 2)) / 10);
  }
}
@media (max-width: 37.5em) {
  .grid {
    width: 100%;
  }

  .grid__cell {
    width: calc((100vw - (2rem * 2)) / 10);
    height: calc((100vw - (2rem * 2)) / 10);
  }
}
.splash-msg {
  position: absolute;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-family: "Pirata One", cursive;
  z-index: 2;
}

.splash-msg__text {
  display: none;
  font-size: 5.1rem;
  line-height: 1.3;
  color: #071E22;
  margin: 0 24px;
  text-shadow: 5px 3px #ffffff;
}
.splash-msg__text--cold {
  color: #0c0cb7;
}
.splash-msg__text--warm {
  color: #D12A00;
}

.two-columns__main {
  float: right;
  width: 68%;
}

.two-columns__sidebar {
  float: left;
  width: calc(32% - 20px);
  margin-right: 20px;
}

@media (max-width: 56.25em) {
  .two-columns__sidebar,
.two-columns__main {
    width: 100%;
  }
}
.sidebar {
  height: 500px;
}

.sidebar__tab {
  display: none;
  position: relative;
  background-color: #071E22;
  overflow: auto;
  height: calc(100% - 48px);
}

.sidebar__tab--active {
  display: block;
}

.sidebar__body {
  padding: 20px 25px;
  height: 100%;
  overflow: auto;
}

.sidebar__body--chat {
  height: calc(100% - 48px);
}

.sidebar:not(:last-child) {
  margin-bottom: 20px;
}

.sidebar__button--unread::after {
  content: " ";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #56ff00;
}

.sidebar__button--active {
  opacity: 1;
}

.sidebar__text--history {
  opacity: 0.6;
}

.sidebar__chatbox {
  height: 48px;
  color: #ffffff;
}

.sidebar__chat-input {
  float: left;
  width: calc(100% - 57px);
  height: 100%;
  padding: 0 25px;
  background-color: #0B1A1D;
  border: none;
  color: #ffffff;
}

.sidebar__chatbox .button--chat {
  float: right;
  width: 57px;
  height: 100%;
}

.sidebar__chat-message {
  margin-bottom: 10px;
}

.sidebar__chat-name {
  font-family: "Pirata One", cursive;
  text-transform: uppercase;
}

@media (max-width: 56.25em) {
  .sidebar {
    height: 300px;
  }
}
.turn-choice {
  border: none;
}

.turn-choice__btn {
  float: left;
  font-family: inherit;
  font-size: 20px;
  height: 92px;
  width: calc(50% - 1px);
  padding: 10px 14px;
  border: none;
  background-color: #ffbc00;
  color: #000000;
}

.turn-choice__btn--item {
  float: none;
  height: 45px;
  width: 100%;
  margin-top: 2px;
}

.turn-choice__btn:first-child {
  margin-right: 2px;
}

.turn-choice__btn:hover {
  cursor: pointer;
}

.turn-choice__btn:disabled,
.turn-choice:disabled .turn-choice__btn {
  opacity: 0.25;
  color: #000000;
}

.turn-choice:disabled .turn-choice__btn:hover {
  cursor: default;
}

@media (max-width: 37.5em) {
  .turn-choice__btn {
    height: 60px;
  }
}
.action-box {
  position: relative;
  width: 500px;
  font-family: "Pirata One", cursive;
}

.action-box__msg-box {
  float: left;
  position: relative;
  height: 100%;
  width: 38%;
  padding: 20px 25px;
  margin-bottom: 20px;
  background-color: #071E22;
  min-height: 140px;
}

.action-box__msg-box--buttons {
  padding: 0;
  width: 24%;
  background-color: transparent;
}

.action-box__msg-box--roll {
  text-align: center;
}

.action-box__die {
  margin-top: 8px;
}

@media (max-width: 37.5em) {
  .action-box {
    width: 100%;
  }

  .action-box__msg-box {
    width: 100%;
    min-height: auto;
    margin-bottom: 10px;
  }

  .action-box__msg-box:not(:last-child) {
    margin-right: 0;
  }

  .action-box__msg-box--roll {
    min-height: 124px;
  }
}
.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #071E22;
  width: 960px;
  max-width: 90%;
  height: 400px;
  max-height: 90%;
  z-index: 100;
}

.modal--rules {
  height: auto;
  overflow: hidden;
}

.modal--small {
  width: auto;
  height: auto;
}

.body--modal-open .modal--active,
.body--modal-open .modal__overlay {
  display: block;
}

.body--modal-open .js-open-rules-modal-btn {
  display: none;
}

body.body--modal-open {
  overflow: hidden;
}

.modal__inner {
  padding: 30px 50px;
  padding-right: 87px;
}

.modal__inner--slider {
  padding: 0;
}

.modal__heading {
  margin-bottom: 20px;
}

.modal__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal__close-btn {
  position: absolute;
  cursor: pointer;
  top: 30px;
  right: 30px;
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  z-index: 1;
}

.modal__close-btn svg {
  display: block;
  fill: #ffbc00;
  width: 25px;
  height: 25px;
}

@media (max-width: 56.25em) {
  .modal {
    height: auto;
    width: 100%;
  }

  .modal__inner {
    padding: 30px;
  }

  .modal__inner--slider {
    padding: 0;
  }

  .modal__close-btn {
    top: 0;
    right: 0;
  }
}
.button {
  font-family: "Poppins", sans-serif;
  background-color: #ffbc00;
  font-weight: 600;
  color: #002642;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  min-height: 45px;
  text-align: center;
}

.button:hover {
  background-color: #ffc933;
  transition: 0.2s ease-out;
}

.button--pirata {
  font-family: "Pirata One", cursive;
  font-weight: 300;
}

.button--refresh {
  background-image: url(../images/refresh.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #002642;
  padding: 10px 25px;
  height: 52px;
}

.button--sidebar {
  float: left;
  position: relative;
  background-color: #071E22;
  font-family: "Pirata One", cursive;
  font-weight: 300;
  color: #ffffff;
  font-size: 20px;
  padding: 3px 25px;
  min-width: 114px;
  opacity: 0.65;
  text-align: left;
}

.button--refresh:hover,
.button--sidebar:hover {
  background-color: #10434c;
  transition: 0.2s ease-out;
}

.button--chat {
  padding: 6px;
  height: 48px;
  font-size: 20px;
  color: #000000;
  font-family: "Pirata One", cursive;
  font-weight: 300;
}

.button--sidebar-active {
  opacity: 1;
}

.buttons-row .button {
  float: left;
}

.buttons-row .button:not(:last-child) {
  margin-right: 20px;
}

.button:hover {
  cursor: pointer;
}

.rules-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: fixed;
  bottom: 30px;
  left: 30px;
  padding: 12px 18px;
  z-index: 100;
  background: #071E22;
  color: #ffffff;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px 0px black;
}

.notice {
  margin-top: 15px;
  padding: 20px 30px;
  border: 1px solid #e8d600;
  background: #443400;
  margin-bottom: 26px;
}

.notice--error {
  border: 1px solid #e80000;
  background: #1a0000;
}

.room-list {
  margin-top: 20px;
  margin-bottom: 20px;
}

.room-list table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.room-list thead {
  border-bottom: 1px solid #6a6a6a;
  font-weight: 600;
}

.room-list a {
  color: #ffffff;
  text-decoration: none;
}

.room-list th,
.room-list td {
  padding-top: 4px;
  padding-bottom: 4px;
}

.scoreboard {
  min-height: 140px;
  font-family: "Pirata One", cursive;
  margin-bottom: 20px;
}

.scoreboard--active-player .js-scoreboard-player {
  animation-duration: 1.5s;
  animation-name: pulseGreen;
  animation-iteration-count: infinite;
}

.scoreboard--active-opponent .js-scoreboard-opponent {
  animation-duration: 1.5s;
  animation-name: pulseRed;
  animation-iteration-count: infinite;
}

.scoreboard__player {
  position: relative;
  background-color: #071E22;
  text-transform: uppercase;
  border-top: 16px solid #56ff00;
  color: #56ff00;
  height: 70px;
  background-color: #071E22;
}

.scoreboard__player--opponent {
  border-color: #FF0054;
  color: #FF0054;
}

.scoreboard__player--active-opponent {
  animation-duration: 1.5s;
  animation-name: pulseRedText;
  animation-iteration-count: infinite;
}

.scoreboard__name {
  float: left;
  margin-left: 25px;
  font-size: 30px;
  height: 100%;
}

.scoreboard__score-container {
  float: right;
  position: relative;
  background-color: #e9e9e9;
  font-size: 46px;
  text-align: center;
  width: 62px;
  color: #071E22;
  height: 100%;
}

.scoreboard__score {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.single-row-form__input {
  color: #ffffff;
  background-color: #002642;
  display: inline-block;
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  max-width: 100%;
}

.single-row-form__input--pirata {
  font-family: "Pirata One", cursive;
}

.single-row-form__label-above {
  display: block;
  margin-bottom: 10px;
}

@media (max-width: 37.5em) {
  .single-row-form__input {
    width: 100%;
  }

  .single-row-form .button {
    width: 100%;
  }
}
.logo-container {
  position: relative;
  margin-top: 37px;
  margin-bottom: 48px;
}

.logo-container__logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.flexslider ol,
.flexslider ul {
  list-style: none;
}

.flex-control-nav {
  position: absolute;
  left: 37px;
  bottom: 57px;
}

.flex-control-nav li {
  display: inline-block;
}

.flex-control-nav li:not(:last-child) {
  margin-right: 12px;
}

.flex-control-nav a {
  display: block;
  text-decoration: none;
  text-align: center;
  width: 40px;
  padding: 7px;
  border: 1px solid #071E22;
  background-color: #e9e9e9;
  color: #071E22;
}

.flex-control-nav a.flex-active {
  background-color: #071E22;
  color: #e9e9e9;
}

@media (max-width: 56.25em) {
  .flex-control-nav {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
.invite {
  background-color: #071E22;
  padding: 20px 25px;
  font-family: "Pirata One", cursive;
  margin-bottom: 20px;
}

.invite__large-text {
  font-size: 24px;
  margin-bottom: 6px;
}

.invite__link {
  position: relative;
}

.invite__link input {
  float: left;
  width: 75%;
}

.invite__link button {
  width: 25%;
  float: left;
}

.invite__copied-notice {
  display: none;
  position: absolute;
  bottom: -35px;
  background-color: #92ff6f;
  color: black;
  padding: 4px 13px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

@media (max-width: 56.25em) {
  .invite__link button,
.invite__link input {
    float: none;
    width: 100%;
  }
}
.nav {
  background-color: #071E22;
}

.nav ul {
  list-style: none;
}

.nav li {
  float: left;
}

.nav a {
  display: block;
  font-weight: 700;
  padding: 14px 30px;
  text-decoration: none;
  color: #fff;
}

.nav a:hover,
.nav a.current {
  background-color: #002642;
}

.banner {
  display: flex;
  margin-top: 56px;
  margin-bottom: 46px;
}

.banner__logo {
  width: 100px;
  margin-right: 27px;
}

.banner__heading {
  font-family: "Pirata One", cursive;
  font-size: 8rem;
  color: #071E22;
  line-height: 1.1;
}

@media (max-width: 56.25em) {
  .banner {
    display: block;
  }

  .banner a {
    display: block;
    text-align: center;
  }

  .banner__logo {
    margin-right: 0;
  }

  .banner__heading {
    text-align: center;
  }
}
.cta {
  position: relative;
  padding: 45px 52px;
  background-color: #e9e9e9;
  color: rgba(0, 38, 66, 0.76);
  font-size: 2rem;
  margin-bottom: 38px;
}

.cta--two-col {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta--rules {
  padding: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  align-items: inherit;
}

.cta__column {
  flex-basis: 50%;
}

.cta__column--btn {
  text-align: center;
}

.cta__column--rules-text {
  flex-basis: 50%;
  padding: 38px 40px;
}

.cta__column--rules-video {
  flex-basis: 50%;
  overflow: hidden;
  height: 100%;
  clip-path: polygon(9% 0, 100% 0, 100% 101%, 0 101%);
}

.cta video {
  display: block;
  width: 480px;
}

.cta__heading {
  font-size: 2.8rem;
  font-weight: 800;
  color: #071E22;
  margin-bottom: 26px;
}

.cta__btn {
  display: inline-block;
  text-decoration: none;
  background-color: #ffbc00;
  color: #002642;
  text-transform: uppercase;
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 1.3;
  padding: 11px 43px;
  background-image: url("../images/glow.svg");
  background-size: 95px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.cta__btn:hover {
  background-color: #ffc933;
  transition: 0.2s ease-out;
}

.cta__tab {
  background-color: #e9e9e9;
  display: inline-block;
  padding: 13px 40px;
  color: rgba(0, 38, 66, 0.76);
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 56.25em) {
  .cta {
    padding: 24px 34px;
  }

  .cta--two-col {
    flex-direction: column;
  }

  .cta--rules {
    padding: 0;
  }

  .cta__column--btn {
    margin: 40px 0;
  }

  .cta__column--rules-text,
.cta__column--rules-video {
    width: 100%;
    clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
  }

  .cta__column--rules-text {
    padding: 34px 24px 8px 34px;
  }

  .cta__column--rules-video video {
    width: 100%;
  }
}
.footer {
  background-color: #071E22;
  margin-top: 80px;
  padding-top: 56px;
  padding-bottom: 56px;
  color: #b6b6b6;
}

.footer__heading {
  font-weight: 700;
  margin-bottom: 11px;
}

.footer ul {
  list-style: none;
}

.footer li {
  margin-bottom: 6px;
}

.footer a {
  text-decoration: none;
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}

.footer__copyright {
  margin-top: 30px;
  padding-top: 10px;
  border-top: 1px solid #6a6a6a;
  color: #9d9d9d;
}

.items {
  background-color: #e9e9e9;
  color: #000;
}

.items__btn {
  display: block;
  margin-bottom: 10px;
  font-family: "Pirata One", cursive;
  font-size: 2.6rem;
  padding: 7px;
  cursor: pointer;
  background-color: #ffbc00;
  border: 1px solid #707070;
  width: 257px;
  max-width: 100%;
}

/*# sourceMappingURL=styles.css.map */
